## To run the wrangler server for the first
## docker-compose up --build

## To run wrangler the nth time
## docker-compose up

## To run the OPML Gen Script (requires the wrangler server to be running)
## docker-compose exec wrangler-dev node --env-file=.dev.vars tests/proxy-test-opml-generator.js http://server.com MYAPIKEY

## To install a new package (requires the wrangler server to be running)
## docker-compose exec wrangler-dev npm install some-new-package

services:
  wrangler-dev:
    build: .
    volumes:
      - .:/app
      - /app/node_modules # This trick keeps node_modules INSIDE the container only
    ports:
      - "8787:8787"
    environment:
      - NODE_ENV=development