## How to run!

### cd into dev directory
### docker-compose up

## Now the server is running
## In a new terminal window you can also run wrangler commands like
### docker-compose exec wrangler-dev npm install fast-xml-parser

## To Login Run
### docker-compose exec wrangler-dev npx wrangler login

## Paste the URL into browser and auth
## Login will fail because safari can't access the docker for login
## Copy the URL and then in another terminal run
### docker-compose exec wrangler-dev curl "INSERT URL HERE"

services:
  wrangler-dev:
    build: .
    volumes:
      - .:/app
      - /app/node_modules # This trick keeps node_modules INSIDE the container only
    ports:
      - "8787:8787"
    environment:
      - NODE_ENV=development